{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>View List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="col-md-12 text-center">
            <a href="{% url 'logout' %}" class="btn btn-danger btn-lg float-right" role="button" >LogOut</a>
        </div>
        <div class="container mt-5">
            <!-- Grocery Cards -->
            
            <div class="col-md-12 text-center">
                <a href="{% url 'add' %}" class="btn btn-primary btn-lg" role="button" >Add New Product</a>
            </div>
            
            <div class="row mt-4">
                {% for product in grocery %}
                <!--- -->
                <!-- Loop This -->
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{product.product_image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <a class="card-block stretched-link text-decoration-none" href="{% url 'detail' product.id %}">
                          <h5 class="card-title">{{product.product_name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted"> Price : ₹ {{product.product_price}} </h6>
                          <h6 class="card-subtitle mb-2 text-muted"> Color :  {{product.product_color}} </h6>
                                <h6 class="card-subtitle mb-2 text-muted"> Stock :  {{product.product_stock_status}} </h6>
                        </a>
                        {% if product.user == request.user %}
                        <a href="#" class="btn btn-primary">Edit Product</a>
                        {% endif %}
                        </div>
                      </div>
                </div>
                {% endfor %}
                <!-- // Loop -->
                

            </div>
        </div>
    </body>
</html>
