{% load static %}
{% load widget_tweaks %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Update List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'js/parsley.js' %}">
        <script type = "text/javascript">
   
            // Form validation code will come here.
            function validate() {
            
            
               if( document.loginform.product_name.value == "" ) {
                  alert( "Please provide your Product Name!" );
                  document.loginform.email.focus() ;
                  return false;
               }
             
               if( document.loginform.product_price.value == "" ) {
                  alert( "Please provide your Item Price!" );
                  document.loginform.product_price.focus() ;
                  return false;
               }
               if( document.loginform.product_color.value == "" ) {
                  alert( "Please provide your Product Color!" );
                  document.loginform.product_price.focus() ;
                  return false;
               }
               if( document.loginform.product_name.value == "" ) {
                  alert( "Please provide your Product Name!" );
                  document.loginform.email.focus() ;
                  return false;
               }
               
               return( true );
            }
            
            function fileValidation() {
            var fileInput = 
                document.getElementById('file');
              
            var filePath = fileInput.value;
          
            // Allowing file type
            var allowedExtensions = 
                    /(\.jpg|\.jpeg|\.png|\.gif)$/i;
              
            if (!allowedExtensions.exec(filePath)) {
                alert('Invalid file type');
                fileInput.value = '';
                return false;
            } 
            else 
            {
              
                // Image preview
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById(
                            'imagePreview').innerHTML = 
                            '<img src="' + e.target.result
                            + '"/>';
                    };
                      
                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
        }
      </script>
    </head>
    <body>
        <div class="container mt-5">
            <h1>Update Product</h1>
            <form  method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Product Name</label>
                    {{form.product_name | attr:"class:form-control" }}
                </div>
                <div class="form-group">
                    <label>Product Image</label>
                    {{form.product_image | attr:"class:form-control" | attr:"id:file" | attr:"onchange:return fileValidation()"}} 
                   </div>
                   <div id="imagePreview"></div>
            
                <div class="form-group">
                    <label>Product Price</label>
            
                    {{form.product_price | attr:"class:form-control" | attr:"type:number"}}
                </div>
                <div class="form-group">
                    <label>Product Color</label>
            
                    {{form.product_color | attr:"class:form-control"}}
                </div>
                <div class="form-group">
                    <label>Product Category</label>
            
                    {{form.product_category | attr:"class:form-control"}}
                </div>
                <div class="form-group">
                    <label>Product Status </label>
            
                    {{form.product_stock_status | attr:"class:form-control"}}
                </div>
                
                <div class="form-group">
                   
                    <input type="submit" value="Update" class="btn btn-danger">
                </div>
            </form>
        </div>
    </body> 
</html>
